In [6]:
import pandas as pd

In [16]:
employees = pd.read_csv('~/user_audit/data/employees.csv')
employees

,employee_number,first_name,last_name,email,title
0,EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales
1,EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant
2,EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant
3,EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant
4,EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager
...,...,...,...,...,...
970,EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant
971,EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager
972,EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant
973,EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager
974,EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager

In [17]:
system_access = pd.read_csv('~/user_audit/data/system_access.csv')
system_access

        id    access_level
0     3045  Contract Entry
1     3051  Contract Entry
2     3068  Contract Entry
3     3097   Account Admin
4     3133  Contract Entry
..     ...             ...
833  24862  Contract Entry
834  24864  Contract Entry
835  24885   Account Admin
836  24890  Contract Entry
837  24896   Account Admin

[838 rows x 2 columns]